body{
    margin: auto;
    max-width: 60%; 

}
   

header{
  text-align:center;
}

img{
    border-radius:5px;
    border:1px solid black;
        
}





table{
    text-align:left;
    border-collapse: collapse;
    width:100%; 
}

table,th,td{
    border:1px solid black;
     
}

 .story  p  b{
     display:block;
     padding-top:10px;
     color:green;

}

.hobby ul{
    list-style-type: square;
}

a{
    background-color: black;
    color: white;
    padding:8px 25px;
    text-decoration: none;
    border-radius: 5px;
    
}

a:hover,a:active{
    background-color:black;
}

footer div{
padding:10px;
}

footer{
    justify-content: center;
    display:flex;
     
}
 